* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: montserrat, sans-serif;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
